.MasterPic1
{
	border-radius: 10px;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	box-shadow: 6px 6px 8px #000000;
	-pie-box-shadow: none;
}

#u75555
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

#u74869
{
	background-color: transparent;
}

@media (min-width: 1501px)
{
	#menuu13091
	{
		-pie-box-shadow: none;
		box-shadow: none;
		border-width: 0px;
	}

	#menuu13091::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: none;
	}

	.Smart
	{
		-pie-box-shadow: none;
		box-shadow: 6px 6px 15px rgba(0,0,0,0.71);
		border-width: 5px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13182
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13182::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182:hover
	{
		background-color: #999999;
	}

	#u13182:active
	{
		background-color: #6B6B6B;
	}

	#u13184-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13248
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13248::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182.MuseMenuActive,#u13248:hover
	{
		background-color: #999999;
	}

	#u13248:active
	{
		background-color: #6B6B6B;
	}

	#u13249-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13311
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13311::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13248.MuseMenuActive,#u13311:hover
	{
		background-color: #999999;
	}

	#u13311:active
	{
		background-color: #6B6B6B;
	}

	#u13314-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u14446
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u14446::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13311.MuseMenuActive,#u14446:hover
	{
		background-color: #999999;
	}

	#u14446:active
	{
		background-color: #6B6B6B;
	}

	#u14449-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13181,#u13247,#u13310,#u14445,#u13373
	{
		background-color: transparent;
	}

	#u13374
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13374::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u14446.MuseMenuActive,#u13374:hover
	{
		background-color: #999999;
	}

	#u13374:active
	{
		background-color: #6B6B6B;
	}

	#u13374.MuseMenuActive
	{
		background-color: #999999;
	}

	#u13377-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

}

@media (min-width: 1345px) and (max-width: 1500px)
{
	#menuu13091
	{
		-pie-box-shadow: none;
		box-shadow: none;
		border-width: 0px;
	}

	#menuu13091::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: none;
	}

	.Smart
	{
		-pie-box-shadow: none;
		box-shadow: 6px 6px 15px rgba(0,0,0,0.71);
		border-width: 5px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13182
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13182::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182:hover
	{
		background-color: #999999;
	}

	#u13182:active
	{
		background-color: #6B6B6B;
	}

	#u13184-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13248
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13248::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182.MuseMenuActive,#u13248:hover
	{
		background-color: #999999;
	}

	#u13248:active
	{
		background-color: #6B6B6B;
	}

	#u13249-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13311
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13311::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13248.MuseMenuActive,#u13311:hover
	{
		background-color: #999999;
	}

	#u13311:active
	{
		background-color: #6B6B6B;
	}

	#u13314-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u14446
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u14446::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13311.MuseMenuActive,#u14446:hover
	{
		background-color: #999999;
	}

	#u14446:active
	{
		background-color: #6B6B6B;
	}

	#u14449-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13181,#u13247,#u13310,#u14445,#u13373
	{
		background-color: transparent;
	}

	#u13374
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13374::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u14446.MuseMenuActive,#u13374:hover
	{
		background-color: #999999;
	}

	#u13374:active
	{
		background-color: #6B6B6B;
	}

	#u13374.MuseMenuActive
	{
		background-color: #999999;
	}

	#u13377-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

}

@media (min-width: 1153px) and (max-width: 1344px)
{
	#menuu13091
	{
		-pie-box-shadow: none;
		box-shadow: none;
		border-width: 0px;
	}

	#menuu13091::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: none;
	}

	.Smart
	{
		-pie-box-shadow: none;
		box-shadow: 6px 6px 15px rgba(0,0,0,0.71);
		border-width: 5px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13182
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13182::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182:hover
	{
		background-color: #999999;
	}

	#u13182:active
	{
		background-color: #6B6B6B;
	}

	#u13184-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13248
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13248::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182.MuseMenuActive,#u13248:hover
	{
		background-color: #999999;
	}

	#u13248:active
	{
		background-color: #6B6B6B;
	}

	#u13249-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13311
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13311::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13248.MuseMenuActive,#u13311:hover
	{
		background-color: #999999;
	}

	#u13311:active
	{
		background-color: #6B6B6B;
	}

	#u13314-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u14446
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u14446::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13311.MuseMenuActive,#u14446:hover
	{
		background-color: #999999;
	}

	#u14446:active
	{
		background-color: #6B6B6B;
	}

	#u14449-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13181,#u13247,#u13310,#u14445,#u13373
	{
		background-color: transparent;
	}

	#u13374
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13374::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u14446.MuseMenuActive,#u13374:hover
	{
		background-color: #999999;
	}

	#u13374:active
	{
		background-color: #6B6B6B;
	}

	#u13374.MuseMenuActive
	{
		background-color: #999999;
	}

	#u13377-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

}

@media (min-width: 901px) and (max-width: 1152px)
{
	#menuu13091
	{
		-pie-box-shadow: none;
		box-shadow: none;
		border-width: 0px;
	}

	#menuu13091::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: none;
	}

	.Smart
	{
		-pie-box-shadow: none;
		box-shadow: 6px 6px 15px rgba(0,0,0,0.71);
		border-width: 5px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13182
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13182::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182:hover
	{
		background-color: #999999;
	}

	#u13182:active
	{
		background-color: #6B6B6B;
	}

	#u13184-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13248
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13248::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13182.MuseMenuActive,#u13248:hover
	{
		background-color: #999999;
	}

	#u13248:active
	{
		background-color: #6B6B6B;
	}

	#u13249-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13311
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13311::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13248.MuseMenuActive,#u13311:hover
	{
		background-color: #999999;
	}

	#u13311:active
	{
		background-color: #6B6B6B;
	}

	#u13314-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u14446
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u14446::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u13311.MuseMenuActive,#u14446:hover
	{
		background-color: #999999;
	}

	#u14446:active
	{
		background-color: #6B6B6B;
	}

	#u14449-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u13181,#u13247,#u13310,#u14445,#u13373
	{
		background-color: transparent;
	}

	#u13374
	{
		-pie-box-shadow: 0px 0px 17px 4px #878787/* glow */,
8px 8px 8px #7F7F7F/* drop shadow*/;
		box-shadow: 0px 0px 17px rgba(0,0,0,0.47),0px 0px 17px rgba(0,0,0,0.47)/* glow */,
8px 8px 8px rgba(0,0,0,0.5)/* drop shadow*/;
		border-width: 0px;
		border-color: transparent;
		background-color: #C7B299;
	}

	#u13374::before
	{
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	}

	#u14446.MuseMenuActive,#u13374:hover
	{
		background-color: #999999;
	}

	#u13374:active
	{
		background-color: #6B6B6B;
	}

	#u13374.MuseMenuActive
	{
		background-color: #999999;
	}

	#u13377-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		line-height: 30px;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	.MenuItem /* unifiedNavBar */
	{
		cursor: pointer;
	}

}

@media (min-width: 651px) and (max-width: 900px)
{
	#u49190
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u49189
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-style: solid;
		border-width: 6px;
		background-color: #FFFFFF;
		background-size: contain;
	}

	.m1
	{
		border-width: 6px;
		border-color: #373539;
		border-radius: 14px;
		background: #FFFFFF url("../images/bar.png") no-repeat left top;
	}

}

@media (min-width: 589px) and (max-width: 650px)
{
	#u49190
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u49189
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-style: solid;
		border-width: 6px;
		background-color: #FFFFFF;
		background-size: contain;
	}

	.m1
	{
		border-width: 6px;
		border-color: #373539;
		border-radius: 14px;
		background: #FFFFFF url("../images/bar.png") no-repeat left top;
	}

}

@media (max-width: 588px)
{
	#u49190
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u49189
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-style: solid;
		border-width: 6px;
		background-color: #FFFFFF;
		background-size: contain;
	}

	.m1
	{
		border-width: 6px;
		border-color: #373539;
		border-radius: 14px;
		background: #FFFFFF url("../images/bar.png") no-repeat left top;
	}

}

@media (max-width: 650px)
{
	#u49190
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u49189
	{
		background-repeat: no-repeat;
		background-position: center center;
		border-style: solid;
		border-width: 6px;
		background-color: #FFFFFF;
		background-size: contain;
	}

	.m1
	{
		border-width: 6px;
		border-color: #373539;
		border-radius: 14px;
		background: #FFFFFF url("../images/bar.png") no-repeat left top;
	}

}

