	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1880px;
	}

	#u75555
	{
		left: -50%;
		margin-left: 920px;
		width: 97.88%;
		max-width: 1840px;
	}

	#u75555_position_content
	{
		margin-top: -7px;
		padding-bottom: 134px;
		width: 100%;
	}

	#u74869
	{
		z-index: 87;
		width: 330px;
		position: fixed;
		top: 7px;
		left: 50%;
		margin-left: -165px;
	}

	#menuu13091
	{
		position: relative;
		left: -50%;
		margin-left: 920px;
		width: 100%;
		max-width: 1840px;
	}

	#u13181
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 19.9%;
	}

	#u13182
	{
		position: relative;
		width: 100%;
	}

	#u13182:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13182:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13184-4
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u13182:hover #u13184-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13182:active #u13184-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13247
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 19.9%;
		left: 20%;
	}

	#u13248
	{
		position: relative;
		width: 100%;
	}

	#u13182.MuseMenuActive,#u13248:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13248:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13249-4
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u13182.MuseMenuActive #u13184-4,#u13248:hover #u13249-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13248:active #u13249-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13310
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 19.9%;
		left: 40%;
	}

	#u13311
	{
		position: relative;
		width: 100%;
	}

	#u13248.MuseMenuActive,#u13311:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13311:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13314-4
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u13248.MuseMenuActive #u13249-4,#u13311:hover #u13314-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13311:active #u13314-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u14445
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 19.95%;
		left: 60%;
	}

	#u14446
	{
		position: relative;
		width: 100%;
	}

	#u13311.MuseMenuActive,#u14446:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u14446:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u14449-4
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u13311.MuseMenuActive #u13314-4,#u14446:hover #u14449-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u14446:active #u14449-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13373
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 19.95%;
		left: 80.06%;
	}

	#u13374
	{
		position: relative;
		width: 100%;
	}

	#u14446.MuseMenuActive,#u13374:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13374:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13374.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u13377-4
	{
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u14446.MuseMenuActive #u14449-4,#u13374:hover #u13377-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13374:active #u13377-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#u13374.MuseMenuActive #u13377-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 100%;
		margin: 0px -10000px 0px 0%;
	}

	#menuu13091-wrapper
	{
		position: fixed;
		top: 104px;
		z-index: 56;
		left: 50%;
		margin-left: -920px;
		width: 97.88%;
		max-width: 1840px;
	}

	#u75555-wrapper
	{
		position: fixed;
		top: 7px;
		z-index: 55;
		left: 50%;
		margin-left: -920px;
		width: 97.88%;
		max-width: 1840px;
	}

	#u8625
	{
		z-index: 89;
		width: 60px;
		position: fixed;
		top: 2px;
		left: 121px;
	}

	.MasterPic1 .clip_frame
	{
		-webkit-border-radius: 10px 10px 10px 10px;
	}

	#u8625_img
	{
		padding-right: 1px;
	}

	#u72647-19
	{
		z-index: 2;
		width: 237px;
		min-height: 279px;
		text-shadow: 6px 6px 8px #000000;
		-pie-box-shadow: none;
		box-shadow: none;
		background-color: transparent;
		line-height: 24px;
		position: fixed;
		top: 290px;
		left: 50%;
		margin-left: -766px;
	}

	#u72647-3,#u72647-4,#u72647-7,#u72647-8,#u72647-11,#u72647-12,#u72647-14
	{
		text-align: center;
		text-indent: 0px;
	}

	#u82297
	{
		z-index: 21;
		width: 1038px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 141px;
		margin-left: 50%;
		left: -519px;
	}

	#u37213
	{
		z-index: 54;
		width: 1038px;
		height: 763px;
		background-image: url("../images/xxx12ccmylngntcover_2x-u37213-fr.png");
		margin-left: 50%;
		left: -519px;
	}

	#u2800-32
	{
		z-index: 22;
		width: 1006px;
		margin-top: 10px;
		margin-left: 50%;
		left: -503px;
	}

	#u8637
	{
		z-index: 91;
		width: 60px;
		position: fixed;
		top: 2px;
		right: 121px;
	}

