.Buttons,.Simple-texts
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.Page-Titles
{
	font-family: voltaire-n4, sans-serif;
}

.PARAGRAPH-TITLES
{
	font-family: economica-n4, sans-serif;
}

.Mobile_names
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u12392-4
{
	font-family: economica-n4, sans-serif;
}

#u12585-4
{
	font-family: economica-n4, sans-serif;
}

#u12398-4
{
	font-family: economica-n4, sans-serif;
}

#u12394-4
{
	font-family: economica-n4, sans-serif;
}

#u12397-4
{
	font-family: economica-n4, sans-serif;
}

#u12676-4,#u12688-4,#u12693-4
{
	font-family: voltaire-n4, sans-serif;
}

#u12752-4,#u7668-4,#u12753-4,#u7670-4,#u12757-4,#u13243-4,#u12756-4,#u12760-4
{
	font-family: economica-n4, sans-serif;
}

#u5877.PamphletThumbSelected #u5878-4 p,#u6011.PamphletThumbSelected #u6013-4 p,#u6029.PamphletThumbSelected #u6041-4 p,#u6052.PamphletThumbSelected #u6054-4 p,#u11946-4,#u12295-4,#u13703-4,#u12577-4,#u12581-4,#u12700-4,#u4131-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u4142-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u4137-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u12717-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u12720-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u12728-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u12732-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u12738-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#widgetu4129_input,#widgetu4129_prompt,#widgetu4140_input,#widgetu4140_prompt,#widgetu4134_input,#widgetu4134_prompt,#widgetu12714_input,#widgetu12714_prompt,#widgetu12719_input,#widgetu12719_prompt,#widgetu12724_input,#widgetu12724_prompt,#widgetu12729_input,#widgetu12729_prompt,#widgetu12734_input,#widgetu12734_prompt
{
	font-family: open-sans-condensed, sans-serif;
}

#u389-4,#u13735-4
{
	font-family: montez-n4, cursive;
}

#u13736-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

