.Buttons,.Simple-texts
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.Page-Titles
{
	font-family: voltaire-n4, sans-serif;
}

.PARAGRAPH-TITLES
{
	font-family: economica-n4, sans-serif;
}

.Mobile_names
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u13553-4
{
	font-family: antic-n4, sans-serif;
}

#u13559-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13557-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13558-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13552-4,#u13585-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13615-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13611-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13620-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13631-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13598-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13590-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13625-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#widgetu13583_input,#widgetu13583_prompt,#widgetu13613_input,#widgetu13613_prompt,#widgetu13608_input,#widgetu13608_prompt,#widgetu13618_input,#widgetu13618_prompt,#widgetu13629_input,#widgetu13629_prompt,#widgetu13594_input,#widgetu13594_prompt,#widgetu13588_input,#widgetu13588_prompt,#widgetu13624_input,#widgetu13624_prompt
{
	font-family: open-sans-condensed, sans-serif;
}

#u13635-4,#u13634-4,#u13640-4,#u13637-4,#u13636-4,#u13638-4,#u13641-4,#u13639-4
{
	font-family: economica-n4, sans-serif;
}

