.version.service /* version checker */
{
	color: #000018;
	background-color: #727F3D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6124999999985px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 270px;
	width: 0.01px;/* should not cover content below */
}

#pu13531-4
{
	width: 0.01px;
	margin-left: -1px;
}

#u13531-4
{
	z-index: 46;
	width: 38px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 707px;
}

#accordionu13532
{
	z-index: 50;
	width: 769px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13533
{
	z-index: 51;
	width: 769px;
	background-color: transparent;
	position: relative;
}

#u13538-3
{
	z-index: 52;
	width: 759px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #ED1C24;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u13538-3:hover
{
	background-color: #17A9B1;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 759px;
	margin: 0px;
}

#u13538-3:active
{
	background-color: #17A9B1;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 759px;
	margin: 0px;
}

#u13538-3.AccordionPanelTabOpen
{
	background-color: #ED1C24;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 759px;
	margin: 0px;
}

#u13534
{
	z-index: 55;
	width: 769px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	position: relative;
}

#u13537-4
{
	z-index: 56;
	width: 255px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u13535-4
{
	z-index: 60;
	width: 255px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u13536-4
{
	z-index: 64;
	width: 255px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 512px;
}

#u13537-4:hover,#u13535-4:hover,#u13536-4:hover
{
	background-color: #FCEE21;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 255px;
	margin: 0px -10000px 0px 0px;
}

#u13537-4:hover p,#u13535-4:hover p,#u13536-4:hover p
{
	color: #353535;
	visibility: inherit;
}

#u13537-2,#u13535-2,#u13536-2
{
	padding-top: 40px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u13530-4
{
	z-index: 42;
	min-height: 58px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	color: #E2E2E2;
	text-align: center;
	letter-spacing: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

#u13530-2
{
	padding-top: 19px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u13530-4-bw
{
	z-index: 42;
	min-height: 58px;
}

#pu13646
{
	width: 0.01px;
	margin-left: 176px;
	margin-top: 118px;
}

#u13646
{
	z-index: 6;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u13644
{
	z-index: 4;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#pu13650-4
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 6px;
}

#u13650-4
{
	z-index: 10;
	width: 325px;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
}

#u13653-4
{
	z-index: 22;
	width: 325px;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#pu13654-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 12px;
}

#u13654-4
{
	z-index: 26;
	width: 313px;
	min-height: 77px;
	background-color: transparent;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u13657-4
{
	z-index: 38;
	width: 313px;
	min-height: 77px;
	background-color: transparent;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#pu13642
{
	width: 0.01px;
	margin-left: 176px;
	margin-top: 73px;
}

#u13642
{
	z-index: 2;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13648
{
	z-index: 8;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#pu13651-4
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 6px;
}

#u13651-4
{
	z-index: 14;
	width: 328px;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
}

#u13652-4
{
	z-index: 18;
	width: 322px;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#pu13655-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 13px;
}

#u13655-4
{
	z-index: 30;
	width: 313px;
	min-height: 77px;
	background-color: transparent;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u13656-4
{
	z-index: 34;
	width: 313px;
	min-height: 77px;
	background-color: transparent;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

.html
{
	background: #000000 url("../../images/b041536x1024.jpg") no-repeat center top scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

