.version.about /* version checker */
{
	color: #00000D;
	background-color: #D5CA13;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1759px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -253px;
	margin-bottom: -167px;
	width: 0.01px;/* should not cover content below */
}

#pu12856-4
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 253px;
}

#u12856-4
{
	z-index: 3;
	width: 38px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 328px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 231px;
}

#accordionu12857
{
	z-index: 95;
	width: 381px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12871
{
	z-index: 96;
	width: 381px;
	background-color: transparent;
	position: relative;
}

#u12872-3
{
	z-index: 97;
	width: 371px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #ED1C24;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u12872-3:hover
{
	background-color: #17A9B1;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 371px;
	margin: 0px;
}

#u12872-3:active
{
	background-color: #17A9B1;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 371px;
	margin: 0px;
}

#u12872-3.AccordionPanelTabOpen
{
	background-color: #ED1C24;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 371px;
	margin: 0px;
}

#u12873
{
	z-index: 100;
	width: 381px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	position: relative;
}

#u12875-4
{
	z-index: 101;
	width: 126px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u12876-4
{
	z-index: 105;
	width: 126px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u12877-4
{
	z-index: 109;
	width: 126px;
	min-height: 94px;
	border-style: solid;
	border-width: 1px;
	border-color: #424242;
	background-color: #212121;
	color: #C5C5C5;
	font-size: 15px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u12875-4:hover,#u12876-4:hover,#u12877-4:hover
{
	background-color: #FCEE21;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u12875-4:hover p,#u12876-4:hover p,#u12877-4:hover p
{
	color: #353535;
	visibility: inherit;
}

#u12875-2,#u12876-2,#u12877-2
{
	padding-top: 40px;
}

#u12952-4
{
	z-index: 91;
	min-height: 58px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	color: #E2E2E2;
	text-align: center;
	letter-spacing: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u12952-4-bw
{
	z-index: 91;
	min-height: 58px;
}

#pu12887
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: -382px;
}

#u12887
{
	z-index: 2;
	width: 381px;
	height: 2179px;
	border-width: 0px;
	border-color: transparent;
	background-color: #040404;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12964
{
	z-index: 8;
	width: 381px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
}

#pu9366
{
	width: 0.01px;
	margin-left: 1px;
}

#u9366
{
	z-index: 9;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9366_img
{
	margin: -296px -65px 68px -215px;
}

#u12892-4
{
	z-index: 15;
	width: 278px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 47px;
}

#u12937-4
{
	z-index: 78;
	width: 224px;
	min-height: 84px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 78px;
}

#u12957-4
{
	z-index: 19;
	width: 278px;
	min-height: 35px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 132px;
	position: relative;
}

#u12959-4
{
	z-index: 82;
	width: 224px;
	min-height: 84px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 30px;
	position: relative;
}

#pu12939
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 29px;
}

#u12939
{
	z-index: 86;
	width: 345px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u12938-4
{
	z-index: 87;
	width: 290px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 20px;
	font-size: 15px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 30px;
}

#u12938-2
{
	padding-right: 19px;
	padding-left: 30px;
}

#pamphletu12893
{
	z-index: 23;
	width: 0.01px;
	height: 185px;
	padding-bottom: 320px;
	margin-top: 54px;
	position: relative;
}

#u12912
{
	position: absolute;
	width: 362px;
	background-color: transparent;
	top: 203px;
}

#u12912popup
{
	z-index: 24;
}

#u12923
{
	z-index: 25;
	width: 362px;
	height: 302px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12925-4
{
	z-index: 27;
	width: 170px;
	min-height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#pu12924
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 217px;
}

#u12924
{
	z-index: 26;
	width: 135px;
	height: 133px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../../images/ab_01-u12924-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u12927
{
	z-index: 31;
	width: 40px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u12927:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 40px;
	min-height: 0px;
	margin: 11px 0px 0px;
}

#u12918
{
	z-index: 33;
	width: 362px;
	height: 302px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pu12919
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 22px;
}

#u12919
{
	z-index: 38;
	width: 138px;
	height: 138px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../../images/ab_02-u12919-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u12920
{
	z-index: 39;
	width: 40px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u12920:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 40px;
	min-height: 0px;
	margin: 9px 0px 0px;
}

#u12922-4
{
	z-index: 34;
	width: 176px;
	min-height: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u12929
{
	z-index: 41;
	width: 362px;
	height: 302px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pu12932
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 17px;
}

#u12932
{
	z-index: 46;
	width: 128px;
	height: 136px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../../images/ab_03-u12932-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u12930
{
	z-index: 47;
	width: 40px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12930:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 40px;
	min-height: 0px;
	margin: 15px 0px 0px;
}

#u12933-4
{
	z-index: 42;
	width: 201px;
	min-height: 79px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u12913
{
	z-index: 49;
	width: 362px;
	height: 302px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12917-4
{
	z-index: 50;
	width: 174px;
	min-height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 30px;
}

#pu12916
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 214px;
}

#u12916
{
	z-index: 54;
	width: 136px;
	height: 136px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../../images/ab_04-u12916-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u12914
{
	z-index: 55;
	width: 40px;
	background-color: transparent;
	margin-left: 96px;
	margin-top: 8px;
	position: relative;
}

#u12914:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 40px;
	min-height: 0px;
	margin: 8px 0px 0px 96px;
}

#u12898
{
	z-index: 57;
	width: 218px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 90px;
}

#u12899
{
	position: absolute;
	width: 330px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 1px;
	top: -7px;
	left: -64px;
}

#u12899:hover
{
	background-color: #FFF772;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 330px;
	min-height: 0px;
	margin: 0px;
}

#u12900-4
{
	z-index: 59;
	width: 217px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 64px;
}

#u12899:hover #u12900-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 7px -10000px 0px 0px;
}

#u12899:active #u12900-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 7px -10000px 0px 0px;
}

#u12899.PamphletThumbSelected #u12900-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 7px -10000px 0px 0px;
}

#u12900-2
{
	color: #040404;
}

#u12903
{
	position: absolute;
	width: 330px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 2px;
	top: 38px;
	left: -64px;
}

#u12903:hover
{
	background-color: #FFF772;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 330px;
	min-height: 0px;
	margin: 0px;
}

#u12904-4
{
	z-index: 64;
	width: 217px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 64px;
}

#u12903:hover #u12904-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 6px -10000px 0px 0px;
}

#u12904-2
{
	color: #242424;
}

#u12905
{
	position: absolute;
	width: 330px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFEF0B;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 2px;
	top: 133px;
	left: -64px;
}

#u12905:hover
{
	background-color: #FFF772;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 330px;
	min-height: 0px;
	margin: 0px;
}

#u12906-4
{
	z-index: 69;
	width: 217px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 64px;
}

#u12903.PamphletThumbSelected #u12904-4,#u12905:hover #u12906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 6px -10000px 0px 0px;
}

#u12906-2
{
	color: #1D1D1D;
}

#u12901
{
	position: absolute;
	width: 330px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 2px;
	top: 85px;
	left: -64px;
}

#u12901:hover
{
	background-color: #FFF772;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 330px;
	min-height: 0px;
	margin: 0px;
}

#u12899.PamphletThumbSelected,#u12903.PamphletThumbSelected,#u12905.PamphletThumbSelected,#u12901.PamphletThumbSelected
{
	background-color: #FFEF0B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 330px;
	min-height: 0px;
	margin: 0px;
}

#u12902-4
{
	z-index: 74;
	width: 217px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 64px;
}

#u12905.PamphletThumbSelected #u12906-4,#u12901:hover #u12902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 6px -10000px 0px 0px;
}

#u12901.PamphletThumbSelected #u12902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 217px;
	margin: 6px -10000px 0px 0px;
}

#u12899.PamphletThumbSelected #u12900-4 p,#u12903.PamphletThumbSelected #u12904-4 p,#u12905.PamphletThumbSelected #u12906-4 p,#u12901.PamphletThumbSelected #u12902-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	font-size: 20px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 7px 0px 0px;
}

#u12902-2
{
	color: #232323;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u12888-4
{
	z-index: 11;
	width: 380px;
	min-height: 71px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	color: #909090;
	font-size: 35px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#u12952-2,#u12888-2
{
	padding-top: 19px;
}

.html
{
	background: #1F1F1F url("../../images/b02760x507.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

