.Buttons,.Simple-texts
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.Page-Titles
{
	font-family: voltaire-n4, sans-serif;
}

.PARAGRAPH-TITLES
{
	font-family: economica-n4, sans-serif;
}

.Mobile_names
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u13156-4
{
	font-family: antic-n4, sans-serif;
}

#u13161-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13162-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13163-4,#u13154-4,#u13213-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13219-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13197-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13204-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13208-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13231-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13190-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u13186-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#widgetu13211_input,#widgetu13211_prompt,#widgetu13217_input,#widgetu13217_prompt,#widgetu13195_input,#widgetu13195_prompt,#widgetu13200_input,#widgetu13200_prompt,#widgetu13206_input,#widgetu13206_prompt,#widgetu13230_input,#widgetu13230_prompt,#widgetu13189_input,#widgetu13189_prompt,#widgetu13184_input,#widgetu13184_prompt
{
	font-family: open-sans-condensed, sans-serif;
}

#u13235-4,#u13237-4,#u13239-4,#u13241-4,#u13238-4,#u13244-4,#u13240-4,#u13242-4
{
	font-family: economica-n4, sans-serif;
}

#u13155-4
{
	font-family: abel-n4, sans-serif;
}

